@import url("reset.css");
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

.container .header .search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 200px;
  outline: none;
  border: 1px solid #fff;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 20px;
}

.container .header .menu {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.container .champ-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .champ-wrapper .champ {
  max-width: 300px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  color: #fff;
  position: relative;
}

.container .champ-wrapper .champ:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 5px 50px rgba(255, 255, 255, 0.5);
          box-shadow: 0 5px 50px rgba(255, 255, 255, 0.5);
}

.container .champ-wrapper .champ .name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.container .champ-wrapper .champ .title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container .champ-wrapper .champ .blurb {
  line-height: 140%;
  text-align: center;
  margin-bottom: 1rem;
}

.container .champ-wrapper .champ img {
  width: 200px;
  height: 200px;
}

.container .champ-wrapper .champ .fas {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .champ-wrapper .champ .fas:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fav {
  color: #ffff02;
}

.favorite {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  background: #081c15;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  overflow: auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.favorite .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favorite .btn .clear {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  background-color: #d8f3dc;
  font-size: 18px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.favorite .btn .clear:hover {
  background-color: #74eb86;
}

.favorite-champ-wrapper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 1rem;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.favorite-champ-wrapper .wrapper:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.favorite-champ-wrapper .wrapper:last-child {
  margin-bottom: 0;
}

.favorite-champ-wrapper .wrapper .texts {
  margin-left: 1rem;
}

.favorite-champ-wrapper .wrapper .texts .name {
  font-size: 18px;
  padding-bottom: 10px;
}

.favorite-champ-wrapper .wrapper .texts .title {
  padding-bottom: 10px;
}

.active {
  right: 0px;
}

.none {
  display: none;
}

.favTitle {
  color: #fff;
  text-align: center;
  font-size: 26px;
}
/*# sourceMappingURL=main.css.map */